
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container">
    <div class="leftContainer">
        <h1>Monday Workouts</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit ratione assumenda deleniti doloribus autem quam incidunt pariatur perspiciatis exercitationem veniam, nulla, porro voluptas harum sed saepe eveniet iure, repellendus omnis?

        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste vitae cum mollitia nihil officia fugiat, quo optio aperiam suscipit quisquam sit assumenda laboriosam ea, accusamus consequatur in hic reiciendis a.
        </p>
    </div>
    <div class="rightContainer">
        <img width="100%" height="600px" src="{% static 'IMG_E1156.JPG' %}" alt="">
    </div>
</div>
{% endblock %}